@media (min-width: 300px) and (max-width: 700px) {
  .section {
    columns: 100%;
    margin: 2%;
    padding: 2%;
    padding: 0;
  }
}
@media (max-width: 400px) {
  .body {
    display: inline;
  }
}
@media (min-width: 401) {
  .section {
    columns: 2;
  }
}
