@media (max-width: 300px) and (min-width: 700px) {
  .section {
    columns: 100%;
    margin: 2%;
    padding: 2%;
    padding: 0;
  }
}
@media (min-width: 700px) {
  .telas {
    display: flex;
  }
}
