* {
  box-sizing: border-box;
}
html,
body,
head {
  height: 100%;
  width: 100%;
  margin: 2px;
}
.figure {
  justify-content: center;
  padding: 1%;
}
img {
  size: 30px;
  border-radius: 50%;
}
.header {
  text-align: center;
  background-color: yellow;
}
.navBar {
  display: flexbox;
  text-align: center;
  background-color: green;
}
.div {
  display: flex;
  padding: 3%;
  padding: 3%;
  text-align: center;
}
.div1 {
  display: flexbox;
}
.section {
  display: flexbox;
  background-color: rgba(0, 0, 0, 0.205);
  width: 100%;
  margin: 3px;
  padding: 3px;
  align-items: center;
  width: auto;
}
.footer {
  background-color: yellow;
  display: inline-block;
  text-align: center;
  width: 100%;
  right: 30px;
  padding: 30px 5px;
}
@media (min-width: 300px) and (max-width: 700px) {
  .section {
    columns: 100%;
  }
}
@media (min-width: 700px) {
  .section {
    columns: 3;
  }
}
@media (min-width: 200px) and (max-width: 635px) {
  .header body {
    text-align: center;
    display: block;
    margin: 2%;
    padding: 2%;
    padding: 0;
  }
}
