* {
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

html,
body,
head {
  width: 100%;
  height: 100%;
  margin: 2px;
}
h1 {
  color: rgb(82, 126, 17);
}
h2 h3 {
  background-color: rgb(67, 173, 67);
  color: whitesmoke;
  padding: 1%;
}
p {
  font-size: 1em;
  padding: 3%;
}
.figure {
  display: contents;
  width: 50%;
  justify-content: center;
  padding: 1%;
}
.logoCircular {
  margin: 5%;
  border-radius: 50%;
}
.header {
  text-align: center;
  margin: 1%;
  box-sizing: border-box;
}
.navBar {
  display: flexbox;
  color: whitesmoke;
  margin: 1%;
  padding: 1%;
  text-align: center;
  background-color: green;
}
.div {
  display: flex;
  width: 100%;
  padding: 3%;
  padding: 3%;
  text-align: center;
}
.div1 {
  display: flexbox;
}
.section {
  background-color: rgba(0, 0, 0, 0.205);
  width: 100%;
  margin: 3px;
  padding: 3px;
  align-items: center;
  width: auto;
}
.footer {
  background-color: rgba(255, 255, 0, 0.452);
  display: inline-block;
  margin: 1%;
  text-align: center;
  width: 100%;
  right: 30px;
  padding: 30px 5px;
}
button {
  border-radius: 4px;
}

.telas {
  display: contents;
  align-items: center;
}
