* {
  box-sizing: border-box;
}
html,
body,
head {
  height: 100%;
  width: 100%;
  margin: 2px;
}
.figure {
  text-align: right;
  padding: 1%;
  image-rendering: auto;
}
.header {
  text-align: center;
  background-color: yellow;
}
.navBar {
  display: flexbox;
  text-align: center;
  background-color: green;
}
.div {
  display: flex;
  padding: 3%;
  padding: 3%;
  text-align: center;
}
.div1 {
  display: flexbox;
}
.section {
  display: flexbox;
  background-color: rgba(0, 0, 0, 0.205);
  margin: 3px;
  padding: 3px;
  align-items: center;
  width: auto;
}
.footer {
  background-color: yellow;
  display: inline-block;
  text-align: center;
  width: 100%;
  right: 30px;
  padding: 30px 5px;
}
@media (min-width: 450px) {
  .section {
    columns: 2;
  }
}
@media (min-width: 700px) {
  .section {
    columns: 3;
  }
}
